body {
	margin: 0px;
	padding: 0px;
}

#id,
#idh {
	color: white;
}

.fa-search {
	font-size: 13px;
	margin-right: 5px;
	position: relative;
	bottom: 1.7px;
}

.alert {
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9999;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 1.6rem 15rem;
	-webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
	background-color: #20bf6b;
}
.alert--error {
	background-color: #eb4d4b;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 30px;
}
.logotop {
	width: 60px;
	height: 60px;
}

header a {
	text-decoration: none;
}

.sign {
	font-size: large;
	margin: 5px;
	padding: 9px;
	padding-bottom: 10px;
	color: black;
	border-radius: 18px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}

.sign1 {
	font-size: 1.2rem;
	margin: 5px;
	border-radius: 18px;
	padding: 9px;
	padding-bottom: 10px;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}

.sign1:hover,
.sign:hover {
	text-decoration: none;
}

.headerphoto {
	width: 40px;
	height: 38px;
	border-radius: 100%;
}

.logout {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 17px;
	height: 45px;
	padding-top: 8px;
	margin-right: 12px;
	cursor: pointer;
}
.nav__el {
	margin-top: 5px;
	width: auto;
	height: 45px;
	text-align: center;
	padding: 5px 5px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.nav__el:hover {
	text-decoration: none;
}

.nav__el span {
	margin-right: 1px;
	text-decoration: none;
	color: black;
}
.navuserpic {
	display: flex;
	align-items: center;
}
/* Base Page */
.base_online_main {
	width: 100%;
	height: 1100px;

	background-color: black;
	padding: 50px;
	color: white;
}
.base_video_search {
	width: 100%;
}

.base_video_search_a {
	width: 100%;
	display: block;
	margin-bottom: -6px;
}
.base_video_search_a video {
	width: 100%;
	height: auto;
	pointer-events: none;
}
.base_video_search_b {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	background: none;
	/* width: 655px; */
	/* left: 5%; */
}
.base_video_search_b form {
	display: flex;
	height: 70px;
	align-items: center;
	padding: 10px;
	border: 1px solid gainsboro;
	margin-top: 2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}
.form_box {
	border-right: 1.5px solid gainsboro;
	padding: 0px 5px;
	/* width: 180px; */
}
.form_box label {
	margin-left: 25px;
	font-size: small;
	font-weight: bold;
}
.base_video_search_b form button {
	background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
	margin-left: 5px;
	border-radius: 15px;
}
.base_video_search_b form input {
	background: none;
	border: none;
}
.base_online_main_details_left {
	width: 452px;
}

.base_online_main_details_left h2 {
	font-weight: bold;
}

.base_online_main_image {
	display: flex;
	height: 552px;
	margin: 40px 0px 40px 0px;
}
.base_online_main_images_left {
	width: 50%;
	height: 90%;
	background-color: rgb(77, 72, 72);
	border-radius: 25px;
}
.base_online_main_images_left a {
	width: 100%;
	height: 300px;
	text-decoration: none;
	color: white;
}
.base_online_main_images_left a span {
	font-size: medium;
	margin: 10px;
	margin-top: 10px;
	width: 20px;
}
.base_online_main_images_left a img {
	width: 100%;
	height: 426px;
	background-color: thistle;
	border-radius: 25px 25px 0px 0px;
}
.base_online_main_images_right {
	width: 50%;
	display: flex;
}
.base_online_main_images_right_a {
	width: 50%;
	height: 250px;
	/* padding: 10px; */
	margin-left: 10px;
	background-color: rgb(77, 72, 72);
	border-radius: 10px;
	text-decoration: none;
	color: white;
	/* overflow: hidden; */
}
.base_online_main_images_right_img {
	width: 100%;
	border-radius: 9px 9px 0px 0px;
}
.base_online_main_images_right_span {
	margin-left: 20px;
	color: white;
	text-decoration: none;
}
.base_online_main_frontline {
	display: flex;
	width: 100%;
	padding: 40px;
	color: black;
	background-color: white;
	padding-top: 60px;
	margin-bottom: 80px;
	height: 300px;
}
.base_online_main_frontline_left {
	width: 45%;
	margin-left: 10px;
}

.base_online_main_frontline_left h2 {
	width: 90%;
	font-weight: bolder;
	margin-bottom: 25px;
}
.base_online_main_frontline_left a {
	border: 1px solid black;

	border-radius: 5px;
	padding: 5px 15px;
	text-decoration: none;
	color: black;
}
.base_online_main_frontline_right {
	width: 45%;
	margin-left: 80px;
}

.base_online_main_frontline_right p {
	width: 74%;
}

.base_online_main_background {
	background-color: white;
	width: 109%;
	margin-left: -50px;
}

/* SIGNUP FORM */
.mainsign {
	width: 100%;
	height: 100vh;
	background-color: #fd5c63;
	display: flex;
}
.left {
	width: 50%;
	height: 100%;
	background: url("https://images.pexels.com/photos/1054974/pexels-photo-1054974.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/* overflow: hidden; */
}
.left-text h1 {
	color: white;
	font-size: 440%;
	word-spacing: 15px;
	padding-left: 5%;
}
.left-text {
	width: 50%;
	position: absolute;
	bottom: 2px;
}
.right {
	width: 50%;
	height: 100%;
	background-color: white;
}
.signup-form {
	/* margin-top: 10%; */ /* padding-top: 4%; */
	width: 80%;
	margin: auto;
	position: relative;
	top: 7%;
}
.formdesign,
.signup-form_text {
	width: 85%;
	margin: auto;
}
.signup_logo {
	width: 100px;
	height: auto;
}
.signup-form_text p a {
	text-decoration: none;
	color: #2f89fc;
}
.form__group {
	margin-top: 5%;
}

.form__input {
	width: 100%;
	border-style: hidden;
	height: 35px;
}
.form__label__text {
	color: #5d5d5a;
	font-size: 1.1rem;
}
input[type=email],
input[type=text],
input[type=password] {
	background-color: white;
	border: none;
	border-bottom: 4px solid #f0f0f0;
}
.form__input:hover {
	width: 100%;
	border-style: hidden;
	height: 35px;
}
textarea:focus,
input:focus {
	outline: none;
}
input[type=email]:hover,
input[type=text]:hover,
input[type=password]:hover {
	border: none;
	border-bottom: 4px solid #fd5c63;
}
.btn {
	width: 100%;
	height: 45px;
	background-color: #fd5c63;
	border: #fd5c63;
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
}
/* LOGIN */
/* CARAOUSEl */
.mainlogin {
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.leftlogin {
	width: 50%;
	height: 100%;
	background-image: url("https://images.pexels.com/photos/827528/pexels-photo-827528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.rightlogin {
	width: 50%;
	background-color: #f0f0f0;
}
.hideblock {
	opacity: 0;
}

.login-form {
	padding: 10%;
	position: relative;
	top: 25%;
}
.login-form h2 {
	color: #fd5c63;
}

.form__grouplogin {
	margin-top: 2%;
	color: #575151;
}
.btn1 {
	width: 100%;
	height: 45px;
	background-color: #fd5c63;
	border: #fd5c63;
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 2%;
}
.forgettag {
	text-align: center;
}

.forgettag a {
	text-decoration: none;
}

.forget_coverimage {
	background-image: url("https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.forget_main {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	background: #bbd2c5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #292e49, #536976, #bbd2c5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#292e49,
		#536976,
		#bbd2c5
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.forget_main-first-image {
	border-radius: 100px;
	width: 50px;
	height: auto;
	margin-top: 10%;
	opacity: 1;
}
.forget_main-first {
	text-align: center;
	height: 200px;
	/* background-color: #fd5c63; */
}
.forget_main-first h5 {
	color: white;
	font-weight: bold;
	margin-top: 5px;
}
.forget_main-first span {
	color: rgb(202, 198, 198);
}
.form__forget input {
	width: 60%;
	background: transparent;
	margin-bottom: 15px;
}
.form__forget button {
	width: 30%;
	background-color: #fd5c63;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	color: white;
}
/* Account */
.account {
	width: 100%;
	height: 100vh;
}
.account-card__first.a img {
	width: 20px;
}
.account-main,
.account-card {
	width: 80%;
	margin: 0 auto;
}
.account-main {
	margin: 4% auto;
}
/* .account-card__first.a {
	width: 20px;
}

.account-card__first.b {
	width: 40px;
}

.account-card__first.c {
	width: 80px;
} */
.account-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.account-card__first {
	width: 300px;
	margin-right: auto;
	margin-bottom: 1.5%;
}
.account-card__first a {
	text-decoration: none;
	color: black;
}
.a,
.b {
	margin-bottom: 18px;
}
.cardcover {
	width: auto;
	padding: 23px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.account-delete {
	margin-top: 40px;
	text-align: center;
}
.account-delete a {
	text-decoration: none;
	color: rgb(237, 100, 134);
}
/* Update Password Security */
.security {
	width: 100%;
	height: 100vh;
}
.security-main,
.security-top {
	width: 80%;
	margin: auto;
}
.security-top a {
	text-decoration: none;
	font-weight: bold;
	color: #fd5c63;
}
.security-top {
	margin-top: 35px;
	margin-bottom: 35px;
}
.security-main-heading {
	width: 60%;
	border-bottom: 1px solid rgb(187, 178, 178);
}
.security-main-heading h4 {
	/* width: 61px; */
	height: 38px;
}
/* .security-main-heading::after {
	content: '            ';
	position: absolute;
	top: 30%;
	/* : 38px; */
/* width: 61px;
	height: 38px;
	border-bottom: 2.4px solid rgb(90, 145, 94); */
/* } */
.security-main_update {
	width: 60%;
}
.securityformlabel input {
	width: 100%;
}
.securityformlabel label {
	font-weight: bold;
	color: salmon;
}
.securityformlabel button {
	width: 170px; /* width: 100%; */
	height: 45px;
	background-color: #fd5c63;
	border: #fd5c63;
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 5px;
}
/* Personal Page */
.personal {
	width: 100%;
}
.personal-main,
.personal-top {
	width: 80%;
	margin: auto;
}
.personal-top {
	margin-top: 3%;
	margin-bottom: 3%;
}
.personal-main {
	margin-bottom: 5%;
}
.personal-main-heading {
	width: 50%;
	border-bottom: 1px solid rgb(224, 217, 217);
}
.personal-top span a {
	color: #fd5c63;
	text-decoration: none;
	font-weight: bold;
}
.personal-main_update {
	width: 50%;
}
.date {
	color: #e0c45c;
}
.personalformlabel label {
	font-weight: bold;
}
.personalformlabel input {
	width: 100%;
	background-color: white;
	border: none;
	border-bottom: 3px solid #a7ff83;
}
.personalformlabel select {
	border-radius: 8px;
	margin-left: 10px;
	background-color: rgb(216, 212, 212);
}
.personalformlabel input:hover {
	width: 100%;
	background-color: white;
	border: none;
	border-bottom: 3px solid #fd5c63;
}
.personalformlabel:nth-child(3) input {
	width: 30%;
}
.personalformlabel button {
	width: 25%;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: #a7ff83;
	font-weight: bold;
	color: white;
}
.personalformlabel:nth-child(8) {
	text-align: center;
	background-color: a7ff83;
}
.form-image {
	width: 80px;
	height: auto;
	border-radius: 100%;
}
.hide-input {
	opacity: 0;
	pointer-events: none;
}
.personalformlabel:nth-child(7) label {
	margin-left: 40px;
	border-bottom: 3px solid #a7ff83;
	color: a7ff83;
}
.personalformlabel:nth-child(7) label:hover {
	background-color: #b2f19a;
}
/* overview */
.searchbar_form {
	width: 95%;
	margin: 0px auto;
}
.searchbar_top,
.searchbar_button {
	display: inline-block;
}
.searchbar_top {
	display: flex;
}
.searchbar_top_input label {
	font-weight: bold;
	font-size: small;
	margin-bottom: 0px;
}
.searchbar_top_input input {
	margin-top: 0px;
}
.searchbar_top_input {
	border-right: 1px solid gainsboro;
	width: 180px;
	margin-right: 5px;
	padding-right: 5px;
}
.searchbar_button {
	width: 100%;
}
.button {
	width: 100px;
	margin: 0px auto;
	margin-top: 5px;
}
.button button {
	border: none;
	background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
	font-weight: bold;
	color: ghostwhite;
	width: 100px;
	height: 30px;
	border-radius: 15px;
}
.overview_main {
	display: flex;
}
.overview_staysplace {
	width: 750px;
	margin-left: 15px;
}
.overview_staysplace p {
	margin: 30px 0px -8px 0px;
	color: grey;
}
.overview_mainright {
	/* background-color: gold; */
	width: 100%;
	/* height: 200vh; */
}
.fixingmap {
	width: 100%;
	height: 100%;
	background-color: palegreen;
}
#mainmap {
	width: 100%;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0rem;
}
.overview_staysplace_clock_guidelines {
	display: flex;
	align-items: center;
}
.overview_staysplace_clock_guidelines img {
	width: 20px;
	height: auto;
	margin: 35px 0px 35px 15px;
}
.overview_staysplace_clock_guidelines p {
	position: relative;
	top: 7px;
	font-weight: bold;
	font-size: medium;
	margin-left: 10px;
}
.overview_staysplace_clock_guidelines span {
	margin-left: 10px;
}
.overview {
	width: 750px;
	border-bottom: 1px solid grey;
	margin-left: 15px;
}
.overview a {
	text-decoration: none;
	color: black;
}
.overview_card {
	display: flex;
}
.overview_cardleft img {
	width: 285px;
	height: 200px;
}
.overview_cardleft {
	width: 290px;
}
.overview_cardright {
	width: 600px;
}
.overview_cardleft,
.overview_cardright {
	margin-top: 25px;
	margin-bottom: 25px;
}
.overview_cardrightfirst {
	display: flex;
	justify-content: space-between;
}
.overview_cardright {
	margin-left: 15px;
	padding-right: 10px;
}
.rightfirst {
	color: gray;
}
.rightfirstimage {
	width: 19px;
	position: relative;
	bottom: 2px;
}
.overview_cardrightsecond {
	margin-bottom: 42px;
}
.overview_cardrightsecond span {
	color: gray;
}
.boldrupee {
	font-size: x-large;
	font-weight: bold;
}
.overview_cardrightthird {
	text-align: right;
}
.overview_paginate {
	text-align: center;
	margin: 30px 0;
}
#page {
	width: 25px;
	border: 1px solid #fd5c63;
	border-radius: 100%;
	text-align: center;
	margin: 0 10px;
}
.overview_paginate_form button {
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #fd5c63;
	color: white;
}
.overview_paginate span {
	margin-bottom: 20px;
}
.overview_paginate p {
	margin-top: 30px;
	font-size: small;
	color: grey;
}
/* SINGLE OVERVIEW */
.singleOverview {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid gray;
}
.singleOverview_topdetails {
	margin: 20px 0;
}
.singleOverview_images {
	display: flex;
	width: 100%;
	height: 300px;
}
.singleOverview_images_left {
	width: 50%;
	overflow: hidden;
	border-radius: 35px 0px 0px 35px;
}
.singleOverview_images_left img {
	width: 100%;
	height: 100%;
	padding: 5px;
}
.singleOverview_images_right {
	width: 50%;
}
.singleOverview_images_right img {
	width: 50%;
	height: 50%;
	padding: 5px;
}
.singleOverview_images_right img:nth-child(2) {
	border-radius: 0px 25px 0px 0px;
}
.singleOverview_images_right img:nth-child(4) {
	border-radius: 0px 0px 25px 0px;
}
.singleOverview_details_payment {
	width: 100%;
}
.singleOverview_details {
	width: 70%;
	margin-top: 20px;
}
.singleOverview_details_first {
	display: flex;
	border-bottom: 1px solid gainsboro;
	padding-bottom: 30px;
}
.singleOverview_details_first_b img {
	margin-left: 30px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.singleOverview_details_second {
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid gainsboro;
}
.singleOverview_details_bed {
	border-bottom: 1px solid gainsboro;
}
.singleOverview_details_bed_card {
	width: 200px;
	border: 1px solid gainsboro;
	margin: 20px 0;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 20px;
}
.bedimage {
	width: 60px;
}
.singleOverview_details_third {
	height: 215px;
	border-bottom: 1px solid gainsboro;
	margin: 50px 0px;
}
.total_payment,
.total_paymentb {
	display: inline-block;
}
.total_payment {
	font-weight: bold;
	font-size: x-large;
}
.total_paymentb {
	color: greenyellow;
	font-weight: bold;
}
.utilmain {
	display: flex;
}
.utils {
	width: 40px;
	height: 40px;
}
.review_card {
	width: 100%;
}
.review_card_flex {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.review_card_userimage img {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	margin-right: 18px;
}
.reviewboldusername {
	font-weight: bold;
}
.singleOverview_details_fourth {
	margin-bottom: 30px;
	border-bottom: 1px solid gainsboro;
}
.singleOverview_writeReview {
	border-bottom: 1px solid gainsboro;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.singleOverview_map {
	width: 100%;
	height: 500px;
	background-color: indianred;
	margin: 15px 0;
}
#map {
	width: 100%;
	height: 100%;
}
.marker {
	background-image: url("../img/pins.png");
	background-size: cover;
	width: 32px;
	height: 40px;
	cursor: pointer;
}
.singleOverview_details_payment {
	display: flex;
}
.singleOverview_payment {
	width: 350px;
	margin: 40px;
	padding: 23px;
}
.singleOverview_payment_top {
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin-left: 5px;
}
.singleOverview_payment_top p {
	width: 100%;
	text-align: start;
	position: relative;
	top: 11px;
}
.singleOverview_payment_top p:nth-child(1) {
	text-align: start;
	color: red;
}
.form_payment_form {
	width: 100%;
	height: 100%;
	/* position: sticky; 
	border: 1px solid black; */ /* border-radius: 25px; */
}
.form__grouppayment1 {
	display: flex;
	width: 100%;
	border: 1px solid gainsboro;
	border-radius: 25px 25px 0px 0px;
}
.form__grouppayment1a {
	width: 50%;
	padding: 10px;
}
.form__grouppayment1a label {
	font-size: small;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	height: 10px;
}
.form-rightborder {
	border-right: 1px solid gainsboro;
}
.form__grouppayment1b {
	border: 1px solid gainsboro;
	border-radius: 0px 0px 25px 25px;
}
.form__grouppayment1b label {
	font-weight: bold;
	margin-left: 12px;
}
.form__grouppayment1b input {
	font-weight: bold;
	width: 90%;
	padding: 10px;
	margin-left: 20px;
}
.form-payment_button {
	margin-top: 18px;
	width: 100%;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	/* background-color: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43)); */
}
.form-payment_button button {
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	border: none;
	background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
}
.boxShadowForm {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding: 10px;
	width: 365px;
}
/* Booking Page */
.booking {
	display: flex;
}
.bookingCard h2 {
	text-align: center;
	background-color: greenyellow;
	margin-bottom: 0px;
	color: white;
	font-weight: bold;
}
.bookingCard {
	width: 300px;
	height: auto;
	margin: 20px;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.bookingImage {
	width: 300px;
	height: 200px;
}
.bookingCard_hotel-details,
.bookingCard_hotel-average,
.bookingCard_host-details,
.bookingCard_price-details,
.bookingCard_checkin-details,
.bookingCard_checkout-details,
.bookingCard_guest-details {
	border-bottom: 1px solid gainsboro;
}
.bookingCard_hotel-details h5,
.bookingCard_hotel-average h5,
.bookingCard_host-details h5,
.bookingCard_price-details h5,
.bookingCard_checkin-details h5,
.bookingCard_checkout-details h5,
.bookingCard_guest-details h5 {
	text-align: center;
	color: rgb(255, 65, 108);
}
.bookingCard_hotel-details p,
.bookingCard_hotel-average p,
.bookingCard_host-details p,
.bookingCard_price-details p,
.bookingCard_checkin-details p,
.bookingCard_checkout-details p,
.bookingCard_guest-details p {
	font-weight: bold;
}
/* FOOTER */
.footer .item p {
	margin-top: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.item ul {
	margin-left: -39px;
}
.item ul a,
.second-footer a {
	color: #383838;
	text-decoration: none;
	color: black;
}
.item ul a:hover,
.second-footer a:hover {
	text-decoration: underline;
	color: black;
}
ul a li {
	margin-top: 20px;
	color: black;
}
.footer {
	background-color: #dcdcdc;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}
.item {
	margin-bottom: 30px;
}
hr {
	width: 75%;
	margin-left: 180px;
	background-color: #cdcdcd;
}
.second-footer {
	background-color: #dcdcdc;
	display: flex;
	padding-top: 20px;
	padding-left: 120px;
	justify-content: left;
	padding-bottom: 30px;
}
/* HOST */
.main {
	width: 100%;
	background-color: #fd5c63;
}
.host-form {
	width: 60%;
	margin: 0px auto;
	background-color: #caccd1;
}
.hosting label {
	font-weight: bold;
	font-size: large;
}
.amenitiesheader,
.mapheader {
	margin-top: 65px;
	font-weight: bolder;
}
.hosting button {
	background-color: #17b978;
}
.hosting label::after {
	content: '*';
	color: red;
}
