footer
    .footer
        .item
            p About
            ul(style='list-style: none;')
                a(href='#')
                    li How Oxybnb Works
                a(href='#')
                    li Trust and Safety
                a(href='#')
                    li Newsroom
        .item
            p Community
            ul(style='list-style: none;')
                a(href='#')
                    li Oxybnb Magazine
                a(href='#')
                    li Oxybnb for Work
                a(href='#')
                    li Careers
        .item
            p Host
            ul(style='list-style: none;')
                a(href='#')
                    li Host Your Home
                a(href='#')
                    li Open Homes
                a(href='#')
                    li Responsible hosting
        .item
            p Support
            ul(style='list-style: none;')
                a(href='#')
                    li Help Centre
                a(href='#')
                    li Cancellation options
                a(href='#')
                    li Neighbourhood Support
    .second-footer
        |&copy; 2020 Airbnb, Inc. All rights reserved 
        a(href='#' style='margin-left: 50px;') &middot;Privacy
        a(href='#' style='margin-left: 20px;') &middot;Terms
        a(href='#' style='margin-left: 20px;') &middot;Sitemap
