doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Air | #{title}
  
  body
    .forget_coverimage
        .forget_main
            .forget_main-first
                img.forget_main-first-image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRMxD2Ba0EAnoAt1Gh3N-a7XPnGCs8b4_yySWwDcHeSaVaQHTU&usqp=CAU", alt="")
                h5 Retrieve Password
                span Just provide your email and we will send you the token
            .forget_main-second
                form.forget_form
                    .form__forget
                        //- label(for='email') Email address
                        br
                        input#email(type='email', placeholder='you@example.com', required)
                    .form__forget
                            button Send it to Email   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/forgetPassword.js')